{% extends 'base.html' %}

{% block content %}
<div class="page-container">
  <h3>About</h3>
  <section>
    <p>I'm Conor Brady, lifelong learner, web developer, Internet enthusiast, and aspiring disco musician</p>

    <p>Passionate about building software to enhance the human experience embracing minimalistic design and end-user privacy</p>

    <p>I write about software engineering, my journey as a developer, things I can never seem to remember, and anything else I find interesting<p>

  </section>
</div>
{% endblock %}
