{% extends 'base.html' %}
{% block content %}

<h3>Personal Information</h3>
<section>
  <p>Conor Brady</p>
  <p><strong>Contact:</strong></p>
  <p><a href="mailto:conorpbrady@gmail.com">conorpbrady@gmail.com</a></p>
  <p><a href="https://github.com/conorpbrady">github.com/conorpbrady</p>
  <p><a href="https://conorbrady.me">conorbrady.me</a></p>
</section>
<h3>Skills</h3>
<section>
</section>
<h3>Work Experience</h3>
<section>
    <h4>Manager, Product Support - FreedomPay</h4>
    <p>Oct 2023 - Present</p>
    <ul>
    <li>Managed team of 4 remote employees</li>
    <li>Report on business critical production issues to executive leadership</li>
    <li>Reduced bug resolution times by 20%</li>
    <li>Implemented processes to prioritize bug tickets based off client needs</li>
    <li>Developed custom reporting and dashboards for integration and support ticketing</li>
    <li>Led training workshops for new hires</Li>
    </ul>

    <p>Product Support Lead - FreedomPay</p>
    <p>Jan 2020 - Oct 2023</p>
    <ul>
    <li>Provided production support for new ecommerce integrators</li>
    <li>Worked closely with Engineering and Product teams to create and document bugs found in production environments</li>
    <li>Drove bug resolution and prioritization</li>
    </ul>

    <p>Quality Assurance Engineer - Bank of America</p>
    <p>Jan 2019 - Jan 2020</p>
    <ul>
      <li>Worked on a cross functional team, preforming unit, integration, and regression testing</li>
      <li>Automated test cases using selenium and python</li>
      <li>Assisted release engineers verifying code quality during releases</li>
      <li>Developed assisted system to create test cases</li>
      <li></li>
    </ul>

    <p>Technical Support Analyst - FreedomPay</p>
    <p>Apr 2018 - Jan 2019</p>
    <ul>

      <li>Perform middleware installations in client environments and educate clients on installation processes</li>
      <li>Troubleshoot and resolve platform issues</li>
      <li></li>
    </ul>

    <p>Business Systems Analyst - Hakkasan Group</p>
    <p>Feb 2015 - Apr 2018</p>
    <ul>

      <li>Led software and hardware integrations, defined scope of work, and ensured on-time project completion</li>
      <li>Coached and mentored business and technical teams through solution designs for integration projects; ensuring seamless data delivery across systems and teams </li>
      <li>Developed processes to streamline workload, leveraged tools to analyze and validate work, and communicated progress to leadership</li>
      <li>Managed Jira service desk ensuring SLAs are were met and tracked issue accuracy and completion</li>
      <li>Partnered with software vendors for feature requests, bug fixes, custom integrations</li>
    </ul>
</section>


{% endblock %}
